.header {
  height: 100%;
  box-shadow: $shadow-1;
}

.ad {
  height: 54px;
  width: 100%;
  background-image: url("../../public/images/ad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.top {
  background: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  &__container {
    max-width: 95%;
    margin: 0 auto;
    padding: 10px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    gap: 15px;
    .li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      color: #666;
      cursor: pointer;
      .flex {
        display: flex;
        align-items: center;
        gap: 5px;
        svg {
          transform: scale(1.2);
          margin-right: 3px;
        }
      }
      img {
        width: 28px;
        height: 28px;
        object-fit: cover;
        border-radius: 50%;
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #ccc;
      }
      span {
        font-size: 13px;
      }
      &::after {
        counter-reset: none;
        content: "";
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background: #ccc;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      &:hover {
        span {
          color: #000;
        }
        svg {
          fill: #666;
        }
      }
      @media (max-width: 670px) {
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          display: none;
        }
      }
    }
  }
}

// user menu (downdrop of 'account' from header options).....................
.menu {
  width: 280px;
  min-height: 200%;
  box-shadow: $shadow-1;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  h4 {
    text-align: center;
    color: $blue-color;
  }
  .flex {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0 1rem;
  }
  ul {
    li {
      height: 45px;
      display: flex;
      font-size: 14px;
      align-items: center;
      text-align: center;
      margin: 0 20px;
      border-bottom: 1px solid #f0f0f0;

      a {
        width: 100%;
      }

      &:hover {
        background-color: #eeeeeebe;
      }

      &:last-of-type {
        border: none;
      }
    }
  }
  &__img {
    width: 100px !important;
    height: 100px !important;
  }
  .col {
    display: flex;
    flex-direction: column;
    span {
      &:last-of-type {
        font-size: 14px;
        color: $blue-color;
        text-decoration: underline;
      }
    }
  }
}
.main {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
  .logo {
    img {
      width: 170px;
      margin-top: 10px;
    }
  }
  .search {
    display: flex;
    align-items: center;
    flex: 1;
    background: #eeeeeebc;
    height: 40px;
    border-radius: 5px;
    input {
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      background: transparent;
      padding-left: 1rem;
    }
    &__icon {
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      background: $blue-color;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      svg {
        width: 21px;
        height: 21px;
        fill: #fff;
      }
    }
  }
}

// cart.................................
.cart {
  position: relative;

  &:hover {
    svg,
    .cart__number {
      transform: scale(1.2);
    }

    .cart__dropdown {
      transform: scale(1);
      transition: transform 0.5s $cubic-bezier;
    }
  }

  svg {
    width: 35px;
    height: 35px;
    fill: #666;
    cursor: pointer;
  }

  &__number {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: $blue-color;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 600;
    color: #fff;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    border-radius: 3px;
    z-index: 99;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.5s ease;
    padding: 1rem;
  }

  &__items {
    max-height: none;
    overflow-y: visible;
    margin-bottom: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    color: #666;
    border-bottom: 1px solid #ddd;

    &:hover {
      background-color: #f7f7f7;
      transition: background-color 0.2s;
    }

    &_image {
      width: 50px;
      aspect-ratio: 0.8;
      position: relative;
      border: 1px solid #ededed;
      border-radius: 3px;

      p {
        position: absolute;
        top: -9px;
        right: -9px;
        background-color: #007bff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 11px;
        color: #fff;
        font-weight: 600;
      }
    }

    &_info {
      flex: 1;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.25rem;

      p {
        &:first-of-type {
          max-width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 600;
        }

        &:last-of-type {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          span {
            font-weight: 600;
            color: #ff0000;
          }
        }
      }
    }

    &_amount {
      font-size: 12px;
      font-weight: 400;
      color: rgb(51, 51, 51);
    }
  }

  &__priceComponent {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-top: none;
    border-bottom: 1px solid #ddd;

    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;

      span {
        &:first-of-type {
          font-weight: 300;
          color: rgb(51, 51, 51);
          font-size: 12px;
        }

        &:last-of-type {
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }

  &__total {
    padding: 0.5rem;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      &:first-of-type {
        font-weight: 300;
        color: rgb(51, 51, 51);
        font-size: 12px;
      }

      &:last-of-type {
        color: #bf323f;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  &__seeAll {
    background-color: $blue-color;
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 30px;
    display: grid;
    place-content: center;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__empty {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_img {
      width: 250px;
    }

    p {
      color: #666;
      padding: 1rem 0;
    }

    &_btn {
      padding-bottom: 1rem;

      button {
        background-color: rgb(253, 216, 53);
        color: #666;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
      }
      button:hover {
        background-color: rgb(255, 227, 65);
      }
    }
  }
}
