.infos {
  color: #666;
  background: #fff;
  @media (max-width: 840px) {
    padding-top: 1rem !important;
  }
  @media (max-width: 460px) {
    max-width: 340px;
  }
  &__name {
    font-size: 14px;
    font-weight: normal;
  }
  &__sku {
    font-size: 12px;
    font-weight: normal;
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
  }
  &__price {
    color: #fa6338;
    display: flex;
    align-items: center;
    h3 {
      font-weight: normal;
      font-size: 16px;
      padding-left: 5px;
      color: #666;
      display: flex;
      align-items: center;
      gap: 5px;
      span {
        &:first-of-type {
          text-decoration: line-through;
        }
        &:last-of-type {
          color: #0647fa;
        }
      }
    }
  }
  &__price_discount,
  &__price_discount2 {
    background-color: burlywood;
    color: #fff; /* Ensure text color is white */
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 5px;
    font-size: 14px;

    @media screen and (max-width: 543px) {
      font-size: 12px;
    }
  }

  &__price_discount2 {
    font-size: 13px;
    position: relative;
    font-style: italic;
    top: -3px;
    left: 10px;
    margin: 0;
    padding: 1px 9px 1px 7px;
    display: flex;
    align-items: center;
    gap: 1px;
    color: #fff; /* Ensure text color is white */

    @media screen and (max-width: 543px) {
      top: 0;
      left: 0;
      margin-bottom: 0.75rem;
    }
  }

  &__price_discount.lift {
    padding: 0px 5px;
    position: relative;
    top: -5px;
  }

  &__shipping {
    display: block;
    color: $blue-color;
  }
  &__sizes {
    margin-top: 1rem;
    &_wrap {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
    }
    &_size {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      border: 1px solid #e6e6e6;
      cursor: pointer;
      &:hover {
        background-image: linear-gradient(
          to top,
          #f3e7e9 0%,
          #e3eeff 99%,
          #e3eeff 100%
        );
      }
    }
  }
  &__colors {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    span {
      display: grid;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:hover {
        outline: 1px solid #666;
        outline-offset: 2px;
      }
    }
  }
  &__qty {
    margin-top: 1rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      cursor: pointer;
      svg {
        transform: scale(0.9);
      }
      span {
        width: 20px;
        text-align: center;
      }
    }
  }
  &__actions {
    @media (min-width: 1160px) {
      display: flex;
      gap: 1rem;
    }
    button {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      height: 45px;
      font-size: 14px;
      width: 200px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      border-radius: 5px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      &:first-of-type {
        background: linear-gradient(
          to right,
          rgb(255, 131, 97),
          rgb(255, 77, 166)
        );
        color: #ffffff;
        svg {
          margin-top: 1px;
        }
        &:hover {
          background: linear-gradient(
            to right,
            rgb(255, 184, 77),
            rgb(255, 77, 77)
          );
        }
      }

      &:last-of-type {
        background: white;
        color: #333;
        svg {
          margin-top: 1px;
        }
        @media (min-width: 1160px) {
          width: 220px;
        }
        &:hover {
          background: rgb(221, 221, 221);
        }
      }

      @media screen and (max-width: 543px) {
        font-size: 12px;
      }

      @media screen and (max-width: 441px) {
        width: 100%;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__accordian {
    margin-top: 1rem;
    max-width: 400px;
    &_grid {
      display: flex;
      justify-content: space-between;
      color: #666;
      font-weight: normal;
      span {
        display: flex;
        gap: 2px;
        &:last-of-type {
          width: 180px;
        }
        p {
          text-transform: capitalize;
        }
      }
    }
    .accordian {
      border: none;
      font-weight: 700;
      &__summary {
        background: transparent;
      }
    }
  }
}
.active_size {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
.active_color {
  outline: 1px solid #666;
  outline-offset: 2px;
}
.sizes {
  width: 100%;

  th {
    text-align: left;
    padding: 8px 0;
    font-size: 15px;
    font-weight: 600;

    @media screen and (max-width: 543px) {
      font-size: 12px;
    }
  }

  td {
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0;

    @media screen and (max-width: 543px) {
      font-size: 12px;
    }
  }
}
.button_wrapper {
  button {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 5px;
    color: #666;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;

    @media screen and (max-width: 543px) {
      font-size: 12px;
    }

    &:hover {
      background-color: rgba(156, 156, 156, 0.075);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}
